<%- include("./partials/header") %> 
<h3>Add New Campgroud</h3>

<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="Campground name">
    <input type="text" name="image" placeholder="Image link">
    <button>Submit</button>
</form>
<a href="/campgrounds">Go back</a>

<%- include ("./partials/footer") %>